<h1>iklim değişikliği</h1>


<a href="https://www.youtube.com/watch?v=sgIi3E7MzqA"><button>iklim değişikliliği ile ilgili kısa bilgilendirici bir video</button></a>

<p>İklim değişikliği, " neden ne olursa olsun iklimin ortalama durumunda ve/ya da değişkenlikte onlarca yıl ya da daha uzun süre boyunca gerçekleşen değişimler " olarak sınıflandırılmıştır.


    

</p>












<iframe width="866" height="487" src="https://www.youtube.com/embed/sgIi3E7MzqA" title="İklim Değişikliği Nedir?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>